@{
}

@model IEnumerable<String>


<a asp-controller="Home" asp-action="Index" asp-route-category="" asp-route-pagenum="1"
    class="h2 nav-link @(ViewBag.Selected == null  || ViewBag.Selected == "" ? "font-weight-bold" : "font-weight-normal")">Home</a>

<a class="nav-link bg-light" data-toggle="collapse" href="#categoryDropdown" role="button" aria-expanded="false" aria-controls="categoryDropDown">Shop by Category</a>
<div class="collapse @(ViewBag.Selected == null  || ViewBag.Selected == "" ? "" : "show") " id="categoryDropdown">
    @foreach (string category in Model)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-category="@category" asp-route-pagenum="1"
            class="nav-link bg-light @(ViewBag.Selected == category ? "font-weight-bold" : "")">@category</a>
    }
</div>
   